<div class="container py-5 px-4">
  <div>
    <p class="h5 mb-0 py-1 text-white" style="text-align: right">Hello, {{ user?.name }} 👋</p>
  </div>
  <div class="row rounded-lg overflow-hidden shadow">
    <!-- Users box-->
    <div class="col-5 px-0">
      <div class="bg-white">

        <div class="bg-gray px-4 py-2 bg-light" style="display: flex;">
          <div style="margin-right: 50px">
            <p class="h5 mb-0 py-1">Recent</p>
          </div>
          <div class="input-group mb-3" style="float:right; display: contents">
            <input type="text" class="form-control" placeholder="Enter room code" aria-label="Enter room code"
                   aria-describedby="button-join-room" [(ngModel)]="joinCode" (keydown.enter)='joinRoom(joinCode)' />
            <button class="btn btn-outline-primary" type="button" id="button-join-room" (click)="joinRoom(joinCode)">
              Join
            </button>
            <input type="text" class="form-control" placeholder="New room name" aria-label="Enter room name"
                   aria-describedby="button-create-room" [(ngModel)]="roomName" (keydown.enter)='createRoom(roomName)' />
            <button class="btn btn-outline-primary" type="button" id="button-create-room" (click)="createRoom(roomName)">
              <i class="fa fa-plus"></i>
            </button>
          </div>
        </div>

        <div class="messages-box">
          <div class="list-group rounded-0">
            <div *ngFor="let room of rooms; let i = index" [attr.data-index]="i">
              <a (click)="selectRoom(i)" class="list-group-item list-group-item-action rounded-0" [ngClass]="(i == activeRoomId)?'active text-white':'list-group-item-light'">
                <div class="media"><img src="/assets/room_icon.png" alt="user" width="50" class="rounded-circle">
                  <button class="close" style="float: right;width: 10px;" mat-button (click)="leaveRoom(room.id)">X</button>
                  <button (click)="copyMessage(room.id)" value="click to copy" mat-button >
                    <i class="fa fa-clipboard"></i>
                  </button>
                  <div class="media-body ml-4">
                    <div class="d-flex align-items-center justify-content-between mb-1">
                      <h6 class="mb-0">{{ room.name }}</h6><small class="small font-weight-bold">{{ createLastMsgDate(room.lastMsgDate) }}</small>
                    </div>
                    <p class="font-italic mb-0 text-small">{{ room.description}}</p>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Chat Box-->
    <div class="col-7 px-0" *ngIf="rooms.length > 0">
      <div class="px-4 py-5 chat-box bg-white" style="height: 564px;">
        <!-- Sender Message-->
        <div *ngFor="let item of rooms[activeRoomId].messages">
          <div class="media w-50 mb-3" [ngClass]="item.sentByMe?'ml-auto margin-left':'flex'">
            <div *ngIf="!item.sentByMe">
              <img src="/assets/user_icon.png" alt="user" width="50" class="rounded-circle" style="margin-right: 16px" >
              <div class="flex" style="align-items:baseline">
                <span [ngClass]="(onlineUsers.has(item.userId)?'online':'')"></span>
                <p style="padding-right: 16px;text-align: center;"> {{ item.senderName }}</p>
              </div>
            </div>
            <div class="media-body" [ngClass]="item.sentByMe?'':'ml-3'">
              <div class="rounded py-2 px-3 mb-2 wrap" [ngClass]="item.sentByMe?'bg-primary':'bg-light'">
                <p class="text-small mb-0" [ngClass]="item.sentByMe?'text-white':'text-muted'">{{ item.text }}</p>
              </div>
              <p class="small text-muted">{{ item.dateStr }}</p>
            </div>
          </div>
        </div>
        <div class="bg-light">
          <div class="input-group">
            <input id="send-Input" name="message" [(ngModel)]="message" (keydown.enter)='sendMessage()' type="text" placeholder="Type a message" aria-describedby="button-addon2" class="form-control rounded-0 border-0 py-4 bg-light" [ngModelOptions]="{standalone: true}">
            <div class="input-group-append">
              <button (click)="sendMessage()" type="button" class="btn btn-link" [disabled]="!message"> <i class="fa fa-paper-plane"></i></button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
