<div>
  <mat-card>
    <mat-card-content>
      <form #regForm="ngForm" (ngSubmit)="register(regForm)">
        <div *ngIf="user?.id">
          <p>
            <mat-form-field>
              <br>
              <mat-label>Username</mat-label>
              <input ngModel readonly value="{{user.name}}" matInput>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field>
              <br>
              <mat-label>Token</mat-label>
              <input ngModel readonly value="{{user.id}}" matInput>
            </mat-form-field>
          </p>

        </div>
        <div *ngIf="!user?.id">
        <p style="margin-top: 88px">
          <mat-form-field>
            <br>
            <mat-label>Username</mat-label>
            <input name="username" ngModel required #username="ngModel" matInput>
          </mat-form-field>
        </p>
        </div>
        <p *ngIf="error" class="error">
          {{ error }}
        </p>

        <div class="button">
          <button type="submit" mat-button>Register</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
<div>
<mat-card>
  <mat-card-content>
    <form #loginForm="ngForm"  (ngSubmit)="login(loginForm)">
      <p>
        <mat-form-field>
          <br>
          <mat-label>Username</mat-label>
          <input name="username" ngModel required #username="ngModel" matInput>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field >
          <br>
          <mat-label>Login token</mat-label>
          <input name="uuid" ngModel required type="password" #uuid="ngModel" matInput>
        </mat-form-field>
      </p>

      <p *ngIf="error" class="error">
        {{ error }}
      </p>

      <div class="button">
        <button type="submit" mat-button>Login</button>
      </div>

    </form>
  </mat-card-content>
</mat-card>
</div>

