<div>
  Online buddies: {{ onlineUsers }}
</div>
<div>
  <div>
    <div>
      <div>UUID: {{uuid}}</div>
      <input [(ngModel)]="username"
             type="text"
             placeholder="Please enter username.">
    </div>
  </div>
  <button (click)="register()">Register</button>
  <button (click)="login()">Login</button>
</div>
<br>
<div *ngIf="connected">
  <div>
    <input [(ngModel)]="message"
           type="text"
           placeholder="Write message.">
  </div>

  <button (click)="sendMessage()">Send Message</button>
</div>
<br>
<br>
<br>
<div *ngFor="let item of messageItems">
  <div>{{ item.user }} : {{ item.message }}</div>
</div>
