.margin-left{
  margin-left: auto;
}

.flex{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.wrap{
  overflow-wrap: anywhere;
}

.online {
  height: 10px;
  width: 10px;
  background-color: #29c12c;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}
